/* h1 {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 650;
  line-height: 1.2;

}

.checkWeather {
  background-color: var(--orange);
  border-style: none;
}

.addToPlan {
  background-color: var(--green);
  border-style: none;
} */