/* .container {
  background-color: coral;
}

.col {
  border: 1px solid rgba(6, 6, 6, 0.3);
}

p {
  font-size: 1rem;
}

.card-img {
  width: 100%;
  max-height: 100vh;

  background-repeat: no-repeat;
  background-size: contain;
} */