.container {
  background-color: rgb(255, 255, 255);
}

.col {
  border: 1px solid rgba(6, 6, 6, 0.3);
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch; */
}





h1 {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 650;
  line-height: 1.2;

}

.checkWeather {
  background-color: var(--orange);
  border-style: none;
}

.addToPlan {
  background-color: var(--green);
  border-style: none;
}